<!doctype html>

<html>
    <head>
        <!--Configuraciones o metadatos que se necesitan para que le pagina web funciones-->
        <!--Los estilos (css)-->
        <link rel="stylesheet" href="http://localhost:3001/css/estilos-generales.css">
    </head>
    <body>
        <p>hola <%= nombre %></p>
        <!--contenido html-->
        <!--scripts-->
        <script src="/js/logica-general.js"></script>
    </body>
</html>
